.img-page {
    position: relative;
    overflow: hidden;
}

.img-page img {
    transition: transform 0.3s ease;
}

.img-page img:hover {
    transform: scale(1.1);
}

/* Estilo para o formulário de doação */
#donationForm {
    background-color: white;
    padding: 2.5rem;
    border-radius: 10p0.625remx;
    padding-left: 10vh;
    padding-right: 10vw;
}

#donationForm legend {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

#donationForm .form-check {
    margin-bottom: 1rem;
}

#donationForm button {
    width: 100%;
    margin-bottom: 0.5rem;
}

#donationForm h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn:disabled {
    background-color: #CCCCCC;
    color: #555555;
    border: none; 
  }

  #successBanner {
    margin-top: 2rem;
  }

  .card-img-top {
    height: 25rem;
    object-fit: cover;
}