main {
    background-color: white;
    padding-top: 0;
}

.img-page {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.img-page img {
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
}

.img-page img:hover {
    transform: scale(1.1);
}

/* Estilo para o formulário de doação */
#donationForm {
    background-color: white;
    padding: 2.5rem;
    border-radius: 1rem;
    max-width: 100%;
    width: 100%;
}

#donationForm legend {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

#donationForm .form-check {
    margin-bottom: 1rem;
}

#donationForm button {
    width: 100%;
    margin-bottom: 0.5rem;
}

#donationForm h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn:disabled {
    background-color: #CCCCCC;
    color: #555555;
    border: none; 
  }

  .card-img-top {
    height: 25rem;
    object-fit: cover;
}