main {
    background-color: white;
}

.img-page {
    position: relative;
    overflow: hidden;
}

.img-page img {
    transition: transform 0.3s ease;
}

.img-page img:hover {
    transform: scale(1.1);
}

#cadastroFormContainer {
    margin-top: 2rem;
}

#cadastroForm input,
#cadastroForm textarea,
#loginForm input,
#loginForm textarea {
    margin-bottom: 2rem;
}

#titleLogin {
    padding: 1rem;
    color: #333;
}
