body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: white;
    padding: 2rem 0;
}
.navbar {
    background-color: #00825D;
    color: white;
}

.navbar .navbar-brand, .navbar-nav .nav-link {
    color: white;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
    background-color: #00543C;
    color: white !important;
}
.navbar-nav .nav-link .fa {
    margin-right: 1.2rem;
}
.carousel-container {
    margin-top: 2rem;
}
.carousel-control-prev,
.carousel-control-next {
width: 5%;
}

main {
    background-color: #f2efed;
    flex-grow: 1;
    padding: 3rem;
}

.card-group .card {
    background-color: white;
    margin: 1rem;
}
.card-group {
    justify-content: center;
}
.btn-primary {
    background-color: #016D60;
    border-color: #016D60;
}
.btn-primary:hover {
    background-color: #014E4A;
    border-color: #014E4A;
}

.donation a {
    text-decoration: none;
}

.content {
    background-color: white;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content h2 {
    margin: 1rem;
}

.content .btn {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.img-page {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.img-rounded-10 {
    border-radius: 1rem;
}

footer {
    background-color: #00825D;
    color: white;
    padding: 2rem 0;
    margin-top: auto;
    font-size: 1rem;
}

footer h6 {
    font-size: 0.8rem;   
}